<h1>Home Page</h1>
<% if !signed_in? %>
    <%= link_to "Sign Up", signup_path, :class =>"signup_button round" %>
<% else %>
    <h3>You are already logged in as '<%=  current_user.name %>'</h3>
<% end %>